<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oneconomy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oneconomy">
        <activity android:name="src.Controler.Graficas.GraficaLineal"></activity>
        <activity android:name="src.Controler.Graficas.GraficaBarras" />
        <activity android:name="src.Controler.Graficas.GraficaPastel" />
        <activity android:name="src.Controler.Graficas.MisGraficas" />
        <activity android:name="src.Controler.Mis_Informes" />
        <activity android:name="src.Controler.InformePorCategoria" />
        <activity android:name="src.Controler.InformePorMetodo" />
        <activity android:name="src.Controler.Perfil" />
        <activity android:name="src.Controler.AgregarMetodoDePago" />
        <activity android:name="src.Controler.MetodosDePago" />
        <activity android:name="src.Controler.Configuracion" />
        <activity android:name="src.Controler.Pruebas_visuales" />
        <activity android:name="src.Controler.MovimientoManual" />
        <activity android:name="src.Controler.HistorialMovimientos" />
        <activity android:name="src.Controler.Finanzas">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="src.Controler.MenuPrincipal" />
        <activity android:name="src.Controler.RecuperarContrasena" />
        <activity android:name="src.Controler.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="src.Controler.CrearCuenta">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>